{% extends "layout.html" %}
 
{% block content %}
  <main class="hero-section">
    <div class="container">
        <h2>About “ Find My Near Place ”</h2> <br> <br>

        <p>“Find My Near Place” is a user-friendly web application built with Flask that helps users discover nearby locations of interest—such as restaurants, hospitals, shops, or any specific places—based on their current location or a searched address.</p>
        <p>This project combines the power of Python backend with location data processing to deliver a seamless and helpful experience for users on both desktop and mobile devices.</p>
    </div>
  </main>
{% endblock %}